@CHARSET "UTF-8";

#reg-top-bar{
	min-height: 15%;
	background-color: #16a085;
	color: #fff;
}

.reg-logo{
	font-weight: bolder;
	font-size:xx-large;
	padding-top: 2%;
	padding-left: 10%;
}

.reg-body{
	background-color: #ecf0f1;
	height: 100%;
	padding-top: 40px;
	color: #4D4D4D;
}

.btn-full{
	width: 100% !important;
}

ul {
	list-style: none !important;
	padding : 0 !important;
	
}

li {
	color : #e74c3c !important;
}