{% extends 'register/register_base.html.twig' %}

{% block body %}
	<div class="reg-body">
		<div class="col-md-offset-1 col-md-10">
			<div class="panel panel-default" style="padding:2%">
              <div class="panel-body">
              	<h3>EMAIL SENT</h3>
              	<p> Check your inbox for an email with further instructions on how to reset your password </p>
              	<p>You may need to check your Junk folder if email does not exists in your inbox </p>
              </div>
            </div>
          </div>
		<div class="col-md-4">
			
		</div>
	</div>
{% endblock %}