{% extends 'register/register_base.html.twig' %}

{% block body %}
	<div class="reg-body">
		<div class="col-md-offset-4 col-md-4">
			<div class="panel panel-default" style="padding:10%">
              <div class="panel-body">
              
              		{% if(error) %}<h4 class="error">{{ error }} <h4/> {% endif %}
              		<div class="text-left"> <h4> Forgotten your password? </h4> </div>
              		
              		<form action="{{ path('forgot_password') }}" method="post">
              			<div class="form-group">
              				<input type="email" name="email" class="form-control" placeholder="Enter your email id" required/>
              			</div>
              			
              			<div class="form-group">
              				<input type="submit" name="submit" value="Reset my password" class="btn btn-primary" style="width:100%"/>
              			</div>
              			<p> 
              				<span class="text-left"><a href="{{ path('register') }}">Sign in</a></span>
              				<span class="pull-right"><a href="{{ path('login_check') }}">Log in </a> </span>
              			</p>
              			
              		</form>
              </div>
            </div>
		</div>
	</div>
{% endblock %}