{% extends 'register/register_base.html.twig' %}

{% block body %}
	<div class="reg-body">
		<div class="col-md-offset-1 col-md-10">
			<div class="panel panel-default" style="padding:2%">
              <div class="panel-body">
              	<p>
              		Sorry! we could not validate the token. Please try to reset the password 
              		again <a href ="{{ path('forgot_password') }}"> here </a> 
              	</p>
              </div%z
            </div>
          </div>
		<div class="col-md-4">
			
		</div>
	</div>
{% endblock %}