{% extends 'register/register_base.html.twig' %}

{% block body %}
	<div class="reg-body">
		<div class="col-md-offset-1 col-md-10">
			<div class="panel panel-default" style="padding:2%">
              <div class="panel-body">
              	<p> You have successfully created an account. Please check your mail to successfully verify your account </p>
              </div>
            </div>
          </div>
		<div class="col-md-4">
			
		</div>
	</div>
{% endblock %}