{% extends 'register/register_base.html.twig' %}

{% block body %}
	<div class="reg-body">
		<div class="col-md-offset-2 col-md-7">
			<div class="panel panel-default" style="padding:5%">
              <div class="panel-body">
              		<p> 
              			We could not validate you email id, we are so sorry. Please contact 
              			the admin or write to shruthi.r@techjini.com 
              	   </p>
              </div>
            </div>
		</div>
	</div>
{% endblock %}